<!DOCTYPE html>
<html lang="en">
<body>

<form action="/faves" method="GET">
    <input type="text" name="food" placeholder="fave food" />
    <input type="text" name="drink" placeholder="fave drink" />
    <input type="text" name="game" placeholder="fave game" />
    <button type="submit">submit</button>
  </form>

  <% if (food === undefined && drink === undefined && game === undefined) { %>
    <p><%= %></p>
<% } else { %>
   <%= response %>
    <% } %>

</body>
</html>