<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Songs Page</title>
  </head>
  <nav>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="about">About page</a></li>
        <li><a href="create">Create something page</a></li>
        <li><a href="dieroll">Die Roll page</a></li>
        <li><a href="songs">Songs page</a></li>
        <li><a href="strings">Strings page</a></li>
    </ul>
  </nav>
  <body>
    
    <div style="font-size:60px">
        <h2>Movies</h2>

        <h2>Movie List</h2>

        <% if (movieList.length > 0){ %>
            <% movieList.forEach(movie => { %>
               <li><%= movie.movie_name %></li>
        <% }) %>
        <% } %>
           
    </div>
  </body>
</html>
